h5py==3.1.0
imageio==2.9.0
numpy==1.19.5
pandas==1.2.1
pickleshare==0.7.5
Pillow==8.1.0
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.0
sklearn==0.0
torch==1.8.1+cu102
torchvision==0.9.1+cu110

